@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/woff/IRANSansXFaNum-Light.woff") format("woff"),
    url("./assets/fonts/woff2/IRANSansXFaNum-Light.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/woff/IRANSansXFaNum-medium.woff") format("woff"),
    url("./assets/fonts/woff2/IRANSansXFaNum-medium.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/woff/IRANSansXFaNum-extrabold.woff") format("woff"),
    url("./assets/fonts/woff2/IRANSansXFaNum-extrabold.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: bold;
  src: url("./assets/fonts/woff/IRANSansXFaNum-Bold.woff") format("woff"),
    url("./assets/fonts/woff2/IRANSansXFaNum-Bold.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/woff/IRANSansXFaNum-Regular.woff") format("woff"),
    url("./assets/fonts/woff2/IRANSansXFaNum-Regular.woff2") format("woff2");
}

.form_style {
  position: relative;
  outline: 0px;
  margin: auto;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 24px;
  background-color: rgb(255, 255, 255);
  border-width: 1px 0px;
  border-style: solid;
  border-color: rgb(231, 235, 240);
  border-image: initial;
  width: 35%;
}

.border-style {
  border-radius: 10px;
  border-left-width: 1px;
  border-right-width: 1px;
}
